.orders {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: white;
  min-height: 90vh; 
  display: flex;
  flex-direction: column;
  page-break-after: always;
}

.orders:not(:second-of-type) {
  page-break-before: always;
}

.order-details {
  display: flex;
  flex-direction: column;    
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.order-product {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  flex: 1; 
}

.order-product h3 {
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
}

.order-items {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px; /* Decreased margin for better spacing */
}

.order-item-img {
  width: 80px;
  object-fit: contain;
  height: 80px;
  margin-right: 15px;
}

.order-item-info {
  margin-top: 5px; /* Decreased margin for better spacing */
  flex: 1;
}

.order-item-title {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.order-item-price {
  font-size: 12px;
  color: black;
}

.order-item-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3px; /* Decreased margin for better spacing */
  font-size: 10px; /* Decreased font size for ratings */
}

.order-item-rating span {
  margin-right: 3px;
}

.order-total {
  text-align: center;
  font-size: 14px; /* Decreased font size for total */
  color: black;
  font-weight: 700;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}
  @media print {
    body * {
      visibility: hidden;
    }
    .orders,
    .orders * {
      visibility: visible;
    }
    .orders {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  
    .order-total .print{
        display: none;
    }
    .order-total .finish{
        display: none;
    }
   
    @page {
      margin-top: 500px;
    }
  }
  @media(max-width: 500px){
    .order-details h2{
      font-size: 18px;
    }
  }
